@charset "UTF-8";

button {
    border-radius: 5px; 
     padding: 5px; 
}

/* Basic button style */
.cnr-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

/* Basic button style */
.enabled-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

/* Basic button style */
.disabled-button {
  background-color: #909090;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

.left-margin {
	margin-left: 40px;
}

.top-margin {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.cnr-td {
    border: none;
}

/* Add styles to the form container */
.build-list {
  height: 400px;
  padding: 5px;
  background-color: #F5F5F5;
  overflow: scroll;
}

.modal {
  overflow-y:auto;
}
