@charset "UTF-8";

button {
    border-radius: 5px; 
     padding: 5px; 
}

/* Chat button style */
.cnr-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
}

/* Sign in button style */
.option-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
}

/* Sign in button style */
.simple-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/* Login button style */
.login-button {
  background-color: #254D93;
  color: #FFFFFF;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.left-margin {
	margin-left: 40px;
}

.top-margin {
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.cnr-td {
    border: none;
}

/* Add styles to the form container */
.build-list {
  height: 400px;
  padding: 5px;
  background-color: #F5F5F5;
}

